<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{title}</title>
	<link href="{style_dir}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="{style_dir}font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="images/style.css" />
	<link rel="icon" href="../favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
	<script>
		var style_dir	= '{style_dir}';
	</script>
	<script src="{style_dir}js/global.js"></script>
	<style>.btn{padding:15px;}</style>
	<script type='text/javascript' src="images/clipboard.min.js"></script>
	<script>
	function copy(val, id) {
		var copyValue = val;
		var clipboard = new Clipboard(id, {
			text: function() {
				return copyValue
			}
		});
		//复制成功后的反馈
		clipboard.on("success", function(e) {
			layer.msg('<lang>复制成功</lang>')
		})
	}
	</script>
<textarea rows="2" id="info" cols="20" style="display:none;">
<lang>后台</lang>:{config['set']['site_url']}admin.php
<lang>帐号</lang>:{run:echo session('adminuser');}
<lang>密码</lang>:{run:echo session('password');}
</textarea>

</head>
<body>
<form action="" id="form" method="post">
	<div class="argument">
		<div class="container">
			<div class="col-md-12 col-sm-12 arg_bg">
				<div class="argument_title">
					<div class="pull-left arg_span">
						<span style="padding-right:10px;"><lang>FoundPHP FrameWork</lang></span><span style="border-left:solid 1px #fff;padding:0 0 0 10px;"><lang>系统部署完成</lang></span>
					</div>
					<div class="pull-right">
						<span><small>{FoundPHP_Ver}</small></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="step">
				<!-- Start Wizzy -->
				<div class="wz-wrapper wizzy">
					<div class="wz-inner">
						
						<div class="finish_title_p text-center">
							<br>
							<p><h2><lang>系统安装完成！</lang><h2>
							<h4 style="color:red;"><lang>为安全请删除install目录</lang></h4>
							</p>
						</div>
						<div class="col-md-12 col-xs-12">
							<div class="col-md-12 col-xs-12 input-title text-left">
							</div>
							
							<div class="col-md-6 col-md-offset-3 col-xs-12 input-title">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"><lang>首页</lang>: </label>
										<div class="col-md-9 col-sm-9 col-xs-12 text-left" style="word-wrap:break-word;">
										{config['set']['site_url']}index.php
										</div>
								</div>
							</div>
							
							<div class="col-md-6 col-md-offset-3 col-xs-12 input-title">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"><lang>后台</lang>: </label>
										<div class="col-md-9 col-sm-9 col-xs-12 text-left" style="word-wrap:break-word;">
										{config['set']['site_url']}admin.php
										</div>
								</div>
							</div>
							
							<div class="col-md-6 col-md-offset-3 col-xs-12 input-title">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"><lang>账号</lang>: </label>
										<div class="col-md-9 col-sm-9 col-xs-12 text-left">
										{run:echo session('adminuser');}
										</div>
								</div>
							</div>
							
							<div class="col-md-6 col-md-offset-3 col-xs-12 input-title">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"><lang>密码</lang>: </label>
										<div class="col-md-9 col-sm-9 col-xs-12 text-left">
										{run:echo session('password');} <button class="btn btn-info" style="padding-top:0px;padding-bottom:0px;" type="button" id="copy-info" onclick="copy($('#info').val(),'#copy-info')">复制</button>
										</div>
								</div>
							</div>
							
							<div class="col-md-12 col-xs-12 text-center"><hr>
								<button type="button" class="btn" onclick="location='../index.php'" style="margin-right:15px;"><lang>进入首页</lang></button>
								<button type="button" class="btn btn-info" onclick="location='../admin.php'"><lang>进入后台</lang></button>
							</div>
						</div>
						
					</div>
					
				</div>
				<!-- End Wizzy -->
			
				<div class="clearfix"></div>
				</div>
			</div>
			FoundPHP Framework ©2005-2021 Support PHP5, PHP7, PHP8 | <a href="http://www.foundphp.com" target="_blank">http://www.foundphp.com</a>
			<br><br>
		</div>
	</div>
	
</form>
</body>


</html>