<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{title}</title>
	<link href="{style_dir}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="{style_dir}font-awesome/css/font-awesome.min.css"/>
	<link href="{style_dir}css/foundphp_style.css" rel="stylesheet"/>
	<link rel="stylesheet" href="images/style.css" />
	<link rel="icon" href="../favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
	<script>
		var style_dir	= '{style_dir}';
	</script>
	<script src="{style_dir}js/global.js"></script>
</head>
<body>
<form action="index.php?a={a}" id="form" method="post">
<input type="hidden" name="o" value="1"/>
	<div class="argument">
		<div class="container">
			<div class="col-md-12 col-sm-12 arg_bg">
				<div class="argument_title">
					<div class="pull-left arg_span">
						<span style="padding-right:10px;">FoundPHP FrameWork</span><span style="border-left:solid 1px #fff;padding:0 0 0 10px;"><lang>选择数据库</lang></span>
					</div>
					<div class="pull-right">
						<span><small>{FoundPHP_Ver}</small></span>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="row text-center allsql" style="margin-top:40px;margin-bottom:10px;">
					<div class="servicesBox col-md-2 col-xs-6{run:echo $mysql==1?'':' bind'}">
						<div class="serBox" onclick="sel('mysql')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/mysql.png">
								
							<span class="tit mysql">{support_database['mysql']}</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
							</div>
						<div class="txt2">
							<p>MySQL 数据库体积小、速度快、开放源代码，中小型网站的开发都选择 MySQL 作为网站数据库。1995 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
							<input type="radio" onclick="sel('mysql')" id="mysql" class="fps-agree mini {run:echo $mysql==1?'blue':'gray'}" name="sel_sql" {run:echo $mysql==1?'':' disabled'} value="mysql">
							<span class="fps-show">{run:echo $mysql==1?lang('使用'):lang('未启用')}</span>
						</label>
					</div>
					
					<div class="servicesBox col-md-2 col-xs-6{run:echo $mariadb==1?'':' bind'}">
						<div class="serBox" onclick="sel('mariadb')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/mariadb.png">
								
							<span class="tit mariadb">{support_database['mariadb']}</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle mini"></span>
							</div>
						<div class="txt2">
							<p>MariaDB基于事务的Maria存储引擎，兼容MySQL语法,拥有更多全新特性，中小型网站的选择。2012 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
							<input type="radio" onclick="sel('mariadb')" id="mariadb" class="fps-agree mini {run:echo $mariadb==1?'blue':'gray'}" name="sel_sql" {run:echo $mariadb==1?'':' disabled'} value="mariadb">
							<span class="fps-show">{run:echo $mariadb==1?lang('使用'):lang('未启用')}</span>
						</label>
					</div>

					<div class="servicesBox col-md-2 col-xs-6{run:echo $sqlite==1?'':' bind'}">
						<div class="serBox" onclick="sel('sqlite')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/sqlite.png">
								
							<span class="tit sqlite">{support_database['sqlite']}</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle mini"></span>
								<span class="fps-circle mini"></span>
								<span class="fps-circle mini"></span>
							</div>
						<div class="txt2">
							<p>SQLite 就是一个文件轻量级嵌入式数据库，实现了无服务器、事务性的SQL数据库引擎。<br>2000 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
							<input type="radio" onclick="sel('sqlite')" id="sqlite" class="fps-agree mini {run:echo $sqlite==1?'blue':'gray'}" name="sel_sql" {run:echo $sqlite==1?'':' disabled'} value="sqlite">
							<span class="fps-show">{run:echo $sqlite==1?lang('使用'):lang('未启用')}</span>
						</label>
					</div>

					<div class="servicesBox col-md-2 col-xs-6{run:echo $sqlsrv==1?'':' bind'}">
						<div class="serBox" onclick="sel('sqlsrv')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/sqlsrv.png">
								
							<span class="tit sqlsrv">SQL Server</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle mini"></span>
								<span class="fps-circle mini"></span>
							</div>
						<div class="txt2">
							<p>SQL Server 基于windows拥有易用性、负载高、可伸缩性及可靠性，与各种win软件完美结合。 <br>1989 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
							<input type="radio" onclick="sel('sqlsrv')" id="sqlsrv" class="fps-agree mini {run:echo $sqlsrv==1?'blue':'gray'}" name="sel_sql" {run:echo $sqlsrv==1?'':' disabled'} value="sqlsrv">
							<span class="fps-show">{run:echo $sqlsrv==1?lang('使用'):lang('未启用')}</span>
						</label>
					</div>
					<!-- IF(!empty($support_database['pgsql'])) -->
					<div class="servicesBox col-md-2 col-xs-6{run:echo $pgsql==1?'':' bind'}">
						<div class="serBox" onclick="sel('pgsql')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/pgsql.png">
								
							<span class="tit pgsql">{support_database['pgsql']}</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle mini"></span>
							</div>
						<div class="txt2">
							<p>PostgreSQL是全功能的自由软件数据库，唯一支持事务、子查询、多版本并行控制系统的数据库。1996 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
							<!-- DEL -->
							<input type="radio" onclick="sel('pgsql')" id="pgsql" class="fps-agree mini {run:echo $pgsql==1?'blue':'gray'}" name="sel_sql" {run:echo $pgsql==1?'':' disabled'} value="pgsql">
							<span class="fps-show">{run:echo $pgsql==1?lang('使用'):lang('未启用')}</span>
							<!-- END -->
							敬请期待
						</label>
					</div>
					<!-- END -->
					
					<div class="servicesBox col-md-2 col-xs-6{run:echo $pgsql==1?'':' bind'}">
						<div class="serBox" onclick="sel('oracle')">
						<div class="serBoxOn"></div>
						<div class="txt1">
							<img src="../plugin/class/database/oracle.png">
								
							<span class="tit oracle">{support_database['oracle']}</span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle red mini"></span>
								<span class="fps-circle mini"></span>
							</div>
						<div class="txt2">
							<p>Oracle 可移植性好、使用方便、功能强，效率高、可靠性好、超大吞吐量、分布式的数据库。1979 年发布</p>
						</div>
						</div>
						<label class="foundphp-style">
						敬请期待
						</label>
					</div>
				</div>
					
					<div class="row text-center" style="margin-top:20px;">
					<p class="col-md-4 col-md-offset-4 col-xs-12 selsql text-center" style="display:none;">
					
					</p>
					</div>
				<hr/>
				<div class="form-group text-center submit" style="display:none;margin-bottom:10px;padding-bottom: 10px;">
					<button type="button" class="btn btn_radius" onclick="sel('null')"><lang>重选</lang></button>
					<button type="sbumit" class="btn btn-info btn_radius"><lang>确认</lang></button>
				</div>
				
				
				
			</div>
			FoundPHP Framework ©2005-2021 Support PHP5, PHP7, PHP8 | <a href="http://www.foundphp.com" target="_blank">http://www.foundphp.com</a>
		</div>
	</div>
</form>

<script>
function agree(lang){
	if (lang=='zh'){
		$("#argee_new").hide(100);
		$("#argee_zh").show(300);
		$(".btn-agree").removeClass('btn-agree-ck');
		$("#btn-"+lang).addClass('btn-agree-ck');
	}else{
		$.ajax({
			type: "GET",
			url: "http://www.foundphp.com/?m=agreement&a="+lang,
			success: function(data){
				$("#argee_new").html(data);
				$("#argee_zh").hide(100);
				$("#argee_new").hide(50);
				$("#argee_new").show(300);
				$(".btn-agree").removeClass('btn-agree-ck');
				$("#btn-"+lang).addClass('btn-agree-ck');
			},
			error: function (xhr, status, err) {
				agree('zh');
				sys_error('网络不稳定或无法访问万维网');
			}.bind(this),
			timeout: 1000,
			complete: function (XMLHttpRequest, status) {
				if (status == 'timeout') {
				ajaxTimeOut.abort(); //取消请求
				agree('zh');
				sys_error('网络不稳定请尝试重试');
				}
			}
		});
	}
}

//选中数据库
function sel(sql){
	if (sql=='null'){
		$(".allsql").slideDown("slow");
		$(".sql-txt").show();
		$(".selsql").fadeToggle();
		$(".submit").hide();
	}else{
		sqltxt	= $('.'+sql).html();
		$('#'+sql).attr('checked','checked');
		$(".allsql").slideUp("slow");
		$(".selsql").html('<img src="../plugin/class/database/'+sql+'.png"><br>'+sqltxt);
		$(".selsql").slideDown("slow");
		$(".submit").slideDown("slow");
		$(".sql-txt").hide();
	}
}


	$(function() {
		$(".serBox").hover(
		function() {
		$(this).children().stop(false, true);
		$(this).children(".serBoxOn").fadeIn("slow");
		$(this).children(".pic1").animate({
		right: -110
		},300);
		$(this).children(".pic2").animate({
		left: 41
		},300);
		$(this).children(".txt1").animate({
		left: -240
		},300);
		$(this).children(".txt2").animate({
		right: 0
		},300);
		},
		function() {
		$(this).children().stop(false, true);
		$(this).children(".serBoxOn").fadeOut("slow");
		$(this).children(".pic1").animate({
		right: 41
		},300);
		$(this).children(".pic2").animate({
		left: -110
		},300);
		$(this).children(".txt1").animate({
		left: 0
		},300);
		$(this).children(".txt2").animate({
		right: -240
		},300);
		}
		);
	});
 </script>

</body>
</html>